.lyric-card {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--color-border);
  margin: 0.5em 0;
}

.lyric-card > p {
  white-space: pre-wrap;
}

.lyric-card__cover-image {
  width: 150px;
  height: 150px;
  margin-right: 1em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.lyric__album {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid var(--color-border);
}

.lyric__album > img {
  width: 100%;
  height: calc(100% - 32px);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.lyric__album > span {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin: 8px 0;
}

.lyric__text {
  white-space: pre-wrap;
  font-size: 32px;
}
